
body {
    padding:0;
    margin:0;
    font-family: 'Passion One', cursive;
}

.bck_black {
    background: #000;
}
.bck_white {
    background: #ffffff;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    max-width: 900px;
    width: 100%;
    padding: 1%;
    margin:0 auto;
}


/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_venue {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}

/*====================
        FOOTER
======================*/

footer {
    padding:50px 0px;
    text-align: center;
    font-size: 60px;
    color:#ffffff;
    background: red;
}

footer .footer_copyright {
    font-size: 18px;
}

/*====================
        CAROUSEL
======================*/


.carousel_wrapper {
    height:300px;
    overflow: hidden;
    @media screen and (min-width: 500px) {
        height: 700px;
    }
}

.carousel_image {
    background-size: cover !important;
    img {
        background-position: center!important;
    }
}

.feature_banner {
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature_banner .wrapper {
    height: auto;
    margin: 6px;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    bottom:0;
}


input {
    display: block;
    width: 100%;
    margin: 0 1%;
    padding: 0 1%;
    border-radius: 2%;
}
form button {
    position: relative;
    vertical-align: top;
    width: 250px;
    height: 60px;
    padding: 0;
    font-size: 2.2rem;
    color: black;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #fff;
    border: 0;
    border-bottom: 2px solid #000;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #000;
    box-shadow: inset 0 -2px #000;
    font-family: 'Passion One', cursive;
}
button {
    position: relative;
    vertical-align: top;
    width: 250px;
    height: 60px;
    padding: 0;
    font-size: 2.2rem;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #000;
    border: 0;
    border-bottom: 2px solid #000;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #000;
    box-shadow: inset 0 -2px #000;
    font-family: 'Passion One', cursive;
}

ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 150px;
     -moz-column-width: 150px;
          column-width: 150px;
    @media screen and (min-width: 500px) {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
}
p, ul {
    font-size: 1.6rem;
    font-weight: 400;
}

.skills_section,
.contact_section {
    color: white;
}

